{% extends "noadmin/templates/layoutna.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/index.css" type="text/css" /> {% endblock %}

{% block title %}
<h1 class="font-weight-bold">Consulta de datos</h1>
<p class="lead text-muted"></p>
{% endblock %}

{% block main %}
<iframe src="http://192.168.1.180/pandora_console/index.php?sec=view&sec2=operation/agentes/estado_agente&group_id=27"
    width='1000' height='500'></iframe>
{% endblock %}

{% block js %}
<script src="../static/js/clock.js"></script>
{% endblock %}