{% extends "noadmin/templates/layoutna.html" %}
{% block css %} <link rel="stylesheet" href="../static/css/index.css" type="text/css" /> {% endblock %}

{% block title %}
    <h1 class="font-weight-bold">Bienvenido a la consola de PLICA</h1>
    <p class="lead text-muted">templateInfo a rellenar más adelante: gráficos, alertas, últimas actividadades...</p>
{% endblock %}
                        
{% block main %}
    <p>holaindex2</p>
    <iframe src= "https://es.wikipedia.org/wiki/P%C3%A1gina_web" width='1000' height='350'></iframe>
{% endblock %}

{% block js %}
<script src="../static/js/clock.js"></script>
{% endblock %}
