{% extends "noadmin/templates/layoutna.html" %}
{% block css %}
<link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
<link rel="stylesheet" href="../../static/css/sensores.css" type="text/css" />
{% endblock %}


{% block title %}
<h1 class="font-weight-bold">Inventario de sensores</h1>
<p class="lead text-muted">Aquí puede obtener información de los sensores registrados en PLICA</p>
<div class="botondiv">
    <a class="myButton" href="/registrosensores"><i class="fas fa-plus mr-2"></i>Registrar</a>
</div>
{% endblock %}

{% block main %}
<table class="table table-bordered bg-white">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>MAC</th>
            <th>IP</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        <!--Si hay mensajes (de flash) muéstralo en pantalla-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <!--<div class="alert alert-danger alert-dismissible fade show" role="alert">-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- </div>-->
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% for s in sensores %}
        <tr>
            <td>{{ s.1}}</td>
            <td>{{ s.2}}</td>
            {% if s.5 == none %}
            <td> </td>
            {% else%}
            <td>{{s.5}}</td>
            {% endif %}
            <td>{{ s.3}}</td>
            <td>{{ s.4}}</td>
            <td>
                <a href="/edit/sensor/{{s.0}}" class="btn btn-info"><i class="fa fa-edit mr-2"></i>Editar</a>
                <a href="/delete/sensor/{{s.0}}" class="btn btn-danger"><i class="fa fa-minus mr-2"></i>Eliminar</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script src="../../static/js/clock.js"></script>
<script src="../../static/js/usuariosregistrados.js"></script>
{% endblock %}