td, th, table{
    border:double;
}
th{
    text-align: center;
    background-color:#F9CC54;
    height: 30px;
}
td{
    padding:5px;
}

tr:nth-child(odd){
    background-color: lightgray;
}
tr:hover{
    background-color: aquamarine;
}
tr{
    background-color:#fff;
}




