:root{
    --primary:#212529;
    --light: #ffffff;
    --grey: #3d3c3c;
  
  }
  h4{
    color: #fff;
  }
  
  body{
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary); 
  }
  
  a{
    color:#ACD7D7;
    
  }
  
  a:hover{
    text-decoration: none;
    color: #fff;
  }
  
  .bg-primary{
    background-color: var(--primary) !important;
    background-color: #212529;
  }
  
  .bg-light{
    background-color: var(--light) !important;
  }
  
  .bg-mix{
    background: linear-gradient(180deg, #fff, #C7E1E2);
  }
  .bg-grey{
    background-color: #A9C3C4;
  }
  #sidebar-container{
    min-height: 100vh;
    
  
  }
  
  #sidebar-container .logo{
    padding: .875rem 1.25rem;
  }
  
  #sidebar-container .menu{
    width: 18rem;
    
  }
  
  .btn-search{
    right: 5px;
  
  }
  
  .btn-primary{
    background-color: var(--primary);
    border: 0;
    margin-top: 5px;
  }
  
  .btn-primary:hover{
    background-color: var(--primary);
  }
  #content{
    overflow-y:auto;
    height:100vh;
    padding-bottom: 5rem;
  }
  
  .dropdown-btn:hover {
    color: #f1f1f1;
  }

  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color:#D9D9D1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding-block: 20px;
  }
  .active {
    background-color: grey;
    color: white;
  }
  .dropdown-container {
    display: none;
    background-color:var(--primary);
    padding-left: 8px;

  }
  div .dropdown-container-sub{
    display: none;
    background-color:var(--primary);
    padding-left: 5px;
    width:100%;
    height:20%;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  .caja{
  font-family: sans-serif; 
  font-size: 15px; 
  font-weight: 300; 
  color: #212529; 
  background-color: #E8E8D1;
  
  }
  
 /* .dropdown-menu{
    margin-right: 16px;
    padding-right: 10px;
  }
  .dropdown-item{
    margin-left: 0px;
  } */
  .barra{
    border-right: 1px solid var(--grey);
  }