{% extends "templates/layout.html" %}
{% block css %} 
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/acciones.css" type="text/css" />
{% endblock %}

{% block title %}
    <h1 class="font-weight-bold">Registro de acciones</h1>
    <p class="lead text-muted">Aquí puede obtener información de las útlimas acciones realizadas junto a sus autores</p>
{% endblock %}
                        
{% block main %}
<table class="table table-striped table-bordered bg-white">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Timestamp</th>
            <th>Acción</th>

        </tr>
    </thead>
    <tbody>
        {% for d in datos %}
        <tr>
          <td>{{d.0}}</td>
          <td>{{d.1}}</td>
          <td>{{d.2}}</td>
          {% if d.3 == 3 %}
          <td>Se ha iniciado sesión</td>
          {% elif d.3 == 2 %}
          <td>El administrador ha registrado a {{d.0}}</td>
          {% elif d.3 == 1 %}
          <td>Se ha conectado a Pandora</td>
          {% endif %}
        </tr>
        {% endfor %}
        
        
      </tbody>
</table>

{% endblock %}

{% block js %}
<script src="../static/js/clock.js"></script>
{% endblock %}
