{% extends "templates/layout.html" %}
{% block css %} <link rel="stylesheet" href="../static/css/index.css" type="text/css" /> {% endblock %}

{% block title %}
    <h1 class="font-weight-bold">Registro de nuevos usuarios</h1>
    <p class="lead text-muted">templateInfo a rellenar más adelante: gráficos, alertas, últimas actividadades...</p>
{% endblock %}
                        
{% block main %}
    <iframe src= "registroframe.html" width='1000' height='350'></iframe>
{% endblock %}

{% block js %}
<script src="../static/js/clock.js"></script>
{% endblock %}
