{% extends "templates/layout.html" %}
{% block css %}
<link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
<style type="text/css">
    .bg {
        background-image: url('../../static/images/conf.jpg');
    }
</style>
{% endblock %}

{% block title %}
<h1 class="font-weight-bold">Configuración Subsistema O</h1>
{% endblock %}

{% block main %}
<!--Si hay mensajes (de flash) muéstralo en pantalla-->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <span>{{ message }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
    <div class="col-md-5">
        <div class="card bg" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><b><u>ONTOLOGÍAS</u></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Subsistema O</h6>
                <p class="card-text">
                <ul>
                    <form method="POST" action="/ontologias">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Usuario</label>
                            <input type="text" class="form-control" id="recipient-name" name="usuario">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">IP</label>
                            <input type="text" class="form-control" id="message-text" name="ip">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Acción</label>
                            <select class="tipo" name="action">
                                <option value="defect">Seleccione una acción</button></option>
                                <option value="start">START Ontologías</button></option>
                                <option value="stop">STOP Ontologías</button></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info"><b>Ejecutar acción</b></button>
                    </form>
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><b><u>FUSEKI</u></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Subsistema O</h6>
                <p class="card-text">
                <ul>
                    <form method="POST" action="/fuseki">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Usuario</label>
                            <input type="text" class="form-control" id="recipient-name" name="usuariofuseki">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">IP de Zookeper</label>
                            <input type="text" class="form-control" id="message-text" name="ipfuseki">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Acción</label>
                            <select class="tipo" name="actionfuseki">
                                <option value="defect">Seleccione una acción</button></option>
                                <option value="start">START Fuseki</button></option>
                                <option value="stop">STOP Fuseki</button></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info"><b>Ejecutar acción</b></button>
                    </form>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/js/clock.js"></script>
{% endblock %}
